//- partial for the header bar
header(role="header" id="header")
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        button(type="button" class="navbar-toggle collapsed")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(class="navbar-brand" href="/") Archivr
      ul(class="nav navbar-nav navbar-right")
        li
<<<<<<< HEAD
          a(href="#") Login
=======
          a(href="/login") Login
        li
          a(href="/signup") Signup
        li
          a(href="/logout") Logout


>>>>>>> Add connection of username to back end and logout and gets screenshots from backend
