meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title Archivr
meta(name="viewport" content="width=device-width, initial-scale=1")

//- base URL for angular
base(href="http://localhost:3000/")

block meta
  meta(name="description" content="")
  //- facebook
  meta(property="og:site_name" content="Archivr")
  meta(property="og:type" content="website")
  meta(property="og:url" content="")
  meta(property="og:title" content="")
  meta(property="og:image" content="")
  //- twitter
  meta(name="twitter:card" content="summary")
  meta(name="twitter:url" content="")
  meta(name="twitter:title" content="")
  meta(name="twitter:description" content="")
  meta(name="twitter:image" content="")

block header_scripts
  script(src="/js/app.min.js")
