doctype html
html(lang="en" class="no-js" ng-app="Archivr")

  head
    include _partials/dist/head.jade

  body
    include _partials/dist/header.jade

    main(role="main" id="main" class="container")

      block content
        div(ui-view)

    include _partials/dist/footer.jade

  block footer_scripts
