{
  "DOMAIN": ,
  "EXPRESS_SESSION_SECRET": ,

  "JWT_TOKEN_SECRET": ,

  "FACEBOOK_ID": "app-id",
  "FACEBOOK_SECRET": "secret",

  "TWITTER_ID": "app-id",
  "TWITTER_SECRET": "secret",

  "GOOGLE_ID": "app-id",
  "GOOGLE_SECRET": "secret",

  "CLOUDINARY_NAME": ,
  "CLOUDINARY_KEY": ,
  "CLOUDINARY_SECRET": ,

  "DEBUG": ""
}
