
<h1>About Archivr</h1>
<p>Archivr was created for developer, designers or just everyday fans of the world wide webs.  With Archivr you can capture screenshots of your favorite websites, then annotate them with your own notes.</p>
<h1>Creators</h1>


<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      <li class="col-xs-6 col-md-3" style="text-align:center">
        <h3>Jackson Hoose</h3>
        <a  href="http://github.com/jacksonhoose">
          <img  src="img/github.png" alt="github octocat"/>
        </a>
      </li>
      <li class="col-xs-6 col-md-3" style="text-align:center">
        <h3>Ruben Gonzalez</h3>
        <a href="http://github.com/ruben1">
          <img src="img/github.png" alt="github octocat"/>
        </a>
      </li>
      <li class="col-xs-6 col-md-3" style="text-align:center">
        <h3>Andrew Smith</h3>
        <a href="http://github.com/andrewsouthpaw">
          <img src="img/github.png" alt="github octocat"/>
        </a>
      </li>
      <li class="col-xs-6 col-md-3" style="text-align:center">
        <h3>Rick Wuebker</h3>
        <a href="http://github.com/rwuebker">
          <img src="img/github.png" alt="github octocat"/>
        </a>
      </li>
    </ul>
  </div>
</div>
