<!-- inside signup -->

<div id="signup">

  <h1>Sign up</h1>
  <form name="signupForm" class="form" ng-submit="authCtrl.signup(username, password)" style="width: 50%">
    <label for="username">Create usrname:</label>
    <input id="username" class="form-control" type="text" ng-model="username">
    <label for="password">Create passwrd:</label>
    <input id="password" class="form-control" type="password" ng-model="password">
    <br>
    <button class="btn btn-success">Let's do this</button>
    <!-- This div only shows when a signup is unsuccessful -->
    <div class="row help-block" ng-hide="authCtrl.validation.success">
      <br/>
      <p>{{authCtrl.validation.message}}</p>
    </div>
    <!-- End unsuccessful login div -->
  </form>
</div>
